# Neon PostgreSQL Database Connection String
# Get your database URL from https://console.neon.tech
DATABASE_URL="postgresql://username:password@ep-cool-pond-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Auth Secret
JWT_SECRET="your-super-secret-jwt-token-key-2026"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
